
<span routerLink=''>Main page</span>
<span style="margin: 0 5px;">></span>
<span routerLink="/notes">Notes</span>
<span style="margin: 0 5px;">></span>
<span routerLink="/calculator">Calculator</span>
<span style="margin: 0 5px;">></span>
<span routerLink="/kanban">Kanban</span>
<span style="margin: 0 5px;">></span>
<span routerLink="/tictac">Tic tac toe</span>
<span style="margin: 0 5px;">></span>
<span routerLink="/covid">Covid</span>
<span style="margin: 0 5px;">></span>
<span routerLink="/task">Task</span>
<span style="margin: 0 5px;">></span>
<router-outlet></router-outlet>