<div class="tasks-container">
    <div class="tasks-sidebar">
        <div class="sidebar-content">
            <div class="sidebar-title">Lists</div>  
            <div class="sidebar-list" >
                <div class="sidebar-list__item" (click)="selectList(i)"
                [ngClass]="{'sidebar-list__item-active': i == activeItemNumber}"
                *ngFor="let list of lists; let i = index;">
                    {{list.name}}
                </div>
            </div>
        </div>
        <button class="sidebar-btn" [routerLink]="['/task/new-list']">+ New List</button>
    </div>
    <div class="tasks-main">
        <div class="tasks-content">
            <div *ngIf="!lists ||!lists.length || lists.length == 0" style="text-align: center;">Please select a list from the sidebar</div>
            <div class="tasks-header" *ngIf="lists && lists.length != 0">
                <div class="tasks-title">Tasks</div>
                <div class="tasks-settings">
                    <div class="settings-btn" (click)="showSettngs()"><fa-icon [icon]="faCog" ></fa-icon></div>
                    
                    <div class="settings-list" *ngIf="isSettings">
                        <div class="settings-item" [routerLink]="['/task/edit-list', selectedList.id]">Edit</div>
                        <div class="settings-item settings-item__del" (click)="deleteList(selectedList.id)">Delete</div>
                    </div>
                </div>
            </div>
            <div *ngIf="lists.length != 0 && tasks.length == 0" style="text-align: center;">There are no tasks here! Click the add button to create a new task</div>
            <tasks-list [tasks]="tasks"></tasks-list>
        </div> 
        <fa-icon *ngIf="lists && lists.length > 0" class="task-btn" [routerLink]="['/task/add-task']" [icon]="faPlusCircle"></fa-icon>
    </div>
</div>