<div class="card-wrap">
    <div class="card-item">
        <div class="card-item__title">Confirmed Cases</div>
        <div class="card-item__stat">{{totalConfirmed}}</div>   
    </div>
    <div class="card-item">
        <div class="card-item__title">Recovered Cases</div>
        <div class="card-item__stat">{{totalRecovered}}</div>   
    </div>
    <div class="card-item">
        <div class="card-item__title">Active Cases</div>
        <div class="card-item__stat">{{totalActive}}</div>   
    </div>
    <div class="card-item">
        <div class="card-item__title">Death Cases</div>
        <div class="card-item__stat">{{totalDeaths}}</div>   
    </div>
</div>